.sub_container {
  width: 100%;
  width: 1340px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.topic {
  font-size:1rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 10px;
  width: 100%;
  text-align: start;
  text-transform: uppercase;
}

.pro_comp_con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
