.sub_container {
  width: 100%;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.topic {
  font-size: 2.5rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 10px;
  width: 100%;
  text-align: start;
  display: flex;
  text-transform: uppercase;
}
.bline {
  color: #2b69b2;
  padding: 0px 0 0 10px;
  font-size: 2.5rem;
}
.pro_comp_con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
